html
    head
        script(src="/components/moment/moment.js")
        script(src="/components/highcharts/highcharts.js")
        script.
            var TH_DATA = !{JSON.stringify(graph1, null, 2)};
            var TTD_DATA = !{JSON.stringify(graph2, null, 2)};
            var LR_DATA = !{JSON.stringify(graph3, null, 2)};
            var AC_DATA = !{JSON.stringify(graph4, null, 2)};

    body

        div(style="width: 100%;")
            form(action="/" method="get")
                label(style="padding: 15px;") start date
                input(type="datetime-local" name="start" value="#{start}")
                label(style="padding: 15px;") end date
                input(type="datetime-local" name="end" value="#{end}")
                button(type="submit" style="margin: 15px;") Update

        div#th(style="min-width: 310px; widht: 100%; height: 450px; margin: 0 auto")

        script(src="/thchart.js")

        div#ttd(style="min-width: 310px; widht: 100%; height: 450px; margin: 0 auto")

        script(src="/ttdchart.js")

        div#lrc(style="min-width: 310px; widht: 100%; height: 450px; margin: 0 auto")

        script(src="/lrchart.js")

        div#ac(style="min-width: 310px; widht: 100%; height: 450px; margin: 0 auto")

        script(src="/acchart.js")
